/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.header {
  padding-top: 2%;
}

.logo {
  width: 100%;
  height: auto;
}

.firsttext {
  color: red;
  font-family: cursive;
  padding-top: 2%;
  font-size: 25px;
  text-align: center;
  margin: 0px;
}

.secondtext {
  color: gray;
  text-align: center;
  font-size: 25px;
  text-align: center;
  padding-bottom: 3%;
  margin: 0px;
}

.menuimg {
  border-radius: 20%;
  width: 100%;
}

.menutitle {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.menudescription {
  color: gray;
  margin: 0px;
  padding-bottom: 3%;
}

.lastrow {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.price {
  margin: 0px;
  padding-top: 2%;
}

.addbutton {
  width: 60px;
  border-radius: 50% !important;
  filter: drop-shadow(.5px .5px lightgrey);
}

.fooditem {
  padding: 5% 6% 5% 6%;
}

.edititembutton{
  display: flex;
  border-radius: 50%;
  padding: 0 7px;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 22px;
  height: 22px;
  padding-bottom: 2px;
}
.counter-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.bottomrow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 0;
}

.bottombuttons{
  border-radius: 20px;
}

ul{
  list-style-type:none;
}